// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


// Basic Responsive For Images
img {
    display: block;
    height: auto;
    max-width: 100%;
}


// Opacity down to 0.3
.have-opacity-down {
    opacity: 0.3 !important;
}
