// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------


// Basic Responsive For Images
img {
    display: block;
    height: auto;
    max-width: 100%;
}

// link in yellow
.item-link {
    // color: $beige;
    color: $bleuClair;
    display: block;
    margin: 20px 0 0 0;

    @include respond(tablet) {
        margin: 10px 0 0 0;
    }

    &:hover {
        text-decoration: underline;
    }
}

.item-category {
    text-transform: capitalize;
}

.read-more {
    color: $beige;
    margin: 20px 0 0 0;

    @include respond(tablet) {
        margin: 10px 0;
    }

    &:hover {
        text-decoration: underline;
    }
}

.item-texte {
    margin: 20px 0 0 0;

    @include respond(tablet) {
        margin: 10px 0 0 0;
    }
}

.item-date {
    // color: $beige;
    margin: 20px 0 0 0;

    @include respond(tablet) {
        margin: 10px 0 0 0;
    }

    &:hover {
        text-decoration: underline;
    }
}


// Opacity down to 0.3
.have-opacity-down {
    opacity: 0.3 !important;
}
