// -----------------------------------------------------------------------------
// This file contains basic style for Articles
// -----------------------------------------------------------------------------

.container-carousel-hero {
    @include grid( repeat(1, 1fr), auto, repeat(1, 1fr), auto );
    height: 100%;
    margin: $ratio 0 0 0;
    width: 100%;
}

.hero {
    .swiper-slide {
        color: $grisFonce;

        @include flex(flex-start, center, column, flex-start, center, column);
        flex-direction: column;

        .hero-texte {

            @include flex( flex-start, flex-end, column, center, flex-end, column );
            background-color: #EDF3F6;
            height: auto;
            padding: $ratio calc( #{$ratio} * 2 );
            position: absolute;
            width: max-content;

            bottom: 10%;
            left: 50%;
            transform: translateX(-50%);


            @include respond(tablet) {
                bottom: 0;
                padding: 0;
            }

            h1 {
                color: inherit;

                @include respond(tablet) {
                    font-size: $h5;
                    line-height: $h5;
                }
            }

            h3 {
                color: inherit;
                font-family: $font1;
                font-size: 30px;
                line-height: 34.7px;

                @include respond(tablet) {
                    font-size: $h6;
                    line-height: $h6;
                }
            }
        }

    }
}
