// -----------------------------------------------------------------------------
// This file contains basic style for Articles
// -----------------------------------------------------------------------------

.container-carousel {
    @include grid( 1.2fr 0.8fr, auto, repeat(1, 1fr), auto );

    gap: 25px;
    margin: 0 0 70px 0;
    margin: 0 0 0 0;
    width: 100%;

    &.inverse {
        @include grid( 0.8fr 1.2fr, auto, repeat(1, 1fr), auto );
    }

    .entry-content {
        width: auto;

        .blue {
            color: $bleuClair;
            margin: 10px 0;
        }

        h5 {
            font-size: $body2;
            margin: 10px 0;
        }
    }

    &:last-of-type {
        @include respond(tablet) {
            margin: 0 0 70px 0;
        }
    }

    @include respond(tablet) {
        gap: 10px;
        margin: 0 0 30px 0;

    }

}

.swiper-slide {
    align-items: center !important;
    display: flex;
    justify-content: center !important;
    height: auto;
    p {
        color: $bleuClair;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 14px;
        letter-spacing: 0.01em;
        margin: calc( #{$ratio} / 8 ) 0 calc( #{$ratio} / 4 ) 0;
    }

    img {
        // height: auto;
        max-height: 500px;
        width: auto;
        // height: 100%;
        // width: 50%;
        // object-fit: contain;
    }
}

// Thumb Carousel
.thumb {
    height: 20%;
    // box-sizing: border-box;

    .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }
}
