.single-artiste {
    #main {
        article {
            gap: 1.5% 1.5%;

            @include grid( repeat(2, 1fr), auto, repeat(1, 1fr), auto );

            @include respond(tablet) {
                gap: 1% 1%;
            }
        }
    }
}

#artist-individual-presentation {
    p {
        // color: $bleuClair;
        // margin: calc( #{$ratio} / 8 ) 0 calc( #{$ratio} / 4 ) 0;
    }
}

.individual-artist-item {
    p {
        margin: calc( #{$ratio} / 8 ) 0 calc( #{$ratio} / 4 ) 0;
    }
}

