.single-artiste {
    #main {
        article {
            gap: 1.5% 1.5%;

            @include grid( repeat(2, 1fr), auto, repeat(1, 1fr), auto );

            @include respond(tablet) {
                gap: 1% 1%;
            }
        }
    }
}

.artist-individual-presentation-text {
    h4 {
        color: $bleuClair;
    }

    p {
        margin-top: 51px;

        @include respond(tablet) {
            margin-top: 0;
        }
    }
}
