.post-type-archive-artiste {
    #main {

    }
}

.container-artist-list {
    @include grid(repeat(4, 1fr), auto, repeat(1, 1fr), auto);
    gap: 30px 1.5%;
    @include respond(tablet) {
        gap: 1% 1%;
    }

}

.artist-thumbnail {
    h3 {
        margin: 10px 0 0 0;
    }

    img {
        @include respond(tablet) {
            display: none;
        }
    }
}
