// .post-type-archive-artiste {
//     height: 100%;
//     #page {
//
//         #content {
//             height: 100%;
//
//             #primary {
//                 height: 100%;
//
//                 #main {
//                     height: 100%;
//                 }
//             }
//         }
//
//     }
//
// }


.container-artist-list {
    @include grid(repeat(4, 1fr), auto, repeat(1, 1fr), auto);

    gap: 44px 30px;
    height: 100%;

    @include respond(tablet) {
        gap: 20px 0;
        height: 100%;
        // overflow: auto;
    }

}

.artist-thumbnail {
    h3 {
        margin: 10px 0 0 0;
    }

    img {
        @include respond(tablet) {
            display: none;
        }
    }
}

.artist-arrow {
    height: 30px;
    width: 100%;
}

.artist-pagination {
    bottom: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 65px;

    @include respond(tablet) {
        display: none;
    }
}
