.exhibitions-presentation {
    @include flex(flex-start, center, column, flex-start, center, column);
    margin: $ratio 0;

    h3 {
        color: $color1;
        font-family: $font1;
        font-size: 30px;
        line-height: 34.7px;
        margin: 0 0 10px 0;
    }

    // .exhibitions-links {
    //     @include flex(center, flex-start, row, flex-start, center, column);
    //     width: 100%;
    //
    //     .item-link {
    //         color: $beige;
    //         margin: 0 $ratio 0 0;
    //
    //         &:hover {
    //             text-decoration: underline;
    //         }
    //     }
    // }
}

// .exhibitions-presentation-full-image {
//     display: none;
// }
//
// .exhibitions-presentation-four-images,
// .exhibitions-past-exhibition {
//     @include grid( repeat(2, 1fr), auto, repeat(1, 1fr), auto );
//
//     gap: 25px ;
//
//     @include respond(tablet) {
//         gap: 25px;
//     }
// }

// .exhibitions-past-exhibition {
//     .swiper-container-full {
//         // height: 80%;
//     }
//
//     .swiper-container-thumbs {
//         // height: 20%;
//     }
// }
