.exhibitions-introduction {
    margin: $ratio 0;

    &:first-child {
        margin: 0;
    }
}

.exhibitions-presentation {
    @include flex(flex-start, center, column, flex-start, center, column);

    h3 {
        color: $bleuClair;
        font-family: $font1;
        margin: 0 0 10px 0;
    }

    .date {
        color: $color3;
        font-size: $h5;
    }

    .presentation-informations {
        @include flex(center, space-between, row, flex-start, center, column);
        margin: 0 0 20px 0;
        width: 100%;

        .item-link {
            &:first-child {
                margin: 0 10px 0 0;
            }
        }
    }
}

.exhibitions-presentation-full-image {
    display: none;
}

.exhibitions-presentation-four-images,
.exhibitions-past-exhibition {
    @include grid( repeat(2, 1fr), auto, repeat(1, 1fr), auto );

    gap: 25px ;

    @include respond(tablet) {
        gap: 25px;
    }
}

.exhibitions-past-exhibition {
    .swiper-container-full {
        // height: 80%;
    }

    .swiper-container-thumbs {
        // height: 20%;
    }
}
