.exhibitions-introduction {
    margin: $ratio 0;

    &:first-child {
        margin: 0;
    }
}

.exhibitions-presentation {
    @include flex(flex-start, center, column, center, center, column);

    h3 {
        color: $bleuFonce;
        font-family: $font1;
    }

    .date {
        color: $color3;
    }

    .presentation-informations {
        @include flex(center, space-between, row, center, center, column);
        width: 100%;
    }
}

.exhibitions-presentation-full-image {
    display: none;
}

.exhibitions-presentation-four-images,
.exhibitions-past-exhibition {
    @include grid( repeat(2, 1fr), auto, repeat(1, 1fr), auto );

    gap: 25px ;

    @include respond(tablet) {
        gap: 25px;
    }
}

.exhibitions-past-exhibition {
    .swiper-container-full {
        // height: 80%;
    }

    .swiper-container-thumbs {
        // height: 20%;
    }
}
