.container-founders-bio {
    // gap: calc(#{$ratio} * 3);
    gap: 80px;
    // margin: 0 calc( #{$ratio} * 2 ) calc( #{$ratio} * 2 ) calc( #{$ratio} * 2 );

    @include grid(repeat(3, 1fr), auto, 1fr, auto);

    @include respond(tablet) {
        gap: 0;
        margin: 10px 0 calc( #{$ratio} * 2 ) 0;
    }

    .container-founders-item {
        @include respond(tablet) {
            margin: 0 0 50px 0;
        }
    }

    img {
        margin: 0 0 10px 0;
    }

    .blue {
        color: $bleuClair;
        margin: 10px 0 30px;
    }

}

.container-founders-history {
    @include grid( repeat(2, 1fr), auto, 1fr, auto );
    gap: 2% 2%;

    @include respond(tablet) {
        gap: 2% 2%;
    }

    .container-press {
        h5 {
            color: $bleuClair;
            @include font1(300, $h5);
            line-height: $h5;
        }
    }

}
