#container-press-text {
    @include grid(repeat(2, 1fr), auto, 1fr, auto);
    gap: 46px 102px;

    @include respond(tablet) {
        gap: 25px 25px;
        margin: 0 0 70px 0;
    }
}

.container-press-item {
    @include flex(flex-start, flex-start, column, flex-start, flex-start, column);

    p {
        &.press-item-date {
            margin: calc( #{$ratio} / 4 ) 0 0 0;
        }
        &:last-child {
            margin: calc( #{$ratio} / 4 ) 0 0 0;
        }
    }

    .item-link {
        color: $bleuClair;
    }
}
