/****************************************************
 *
 * Header
 *
 * *************************************************/

.skip-link {
    display: none;
}

#masthead {
    @include flex(flex-end, center, row, flex-start, space-between, row);
    padding: 0 90px 0 90px;

    @include respond(tablet) {
        border-bottom: 1px solid $color2;
        padding: $mratio;
    }
}

.site-branding {
    opacity: 1;
    transition: opacity 0.725 ease-in-out;

    .logo-desktop {
        height: 149px;
        // max-width: 100%;
        width: auto;

        @include respond(tablet) {
            display: none;
            height: 54px;
        }
    }

    .logo-mobile {
        display: none;

        @include respond(tablet) {
            display: block;
            height: 54px;
        }
    }
}

/**************************
 * Navigation Desktop
 **************************/

#site-navigation-desktop {
    margin: 0 0 10px $ratio;
    @include flex(center, space-between, row, flex-start, center, row);
    width: 100%;

    @include respond(tablet) {
        display: none;
    }

    .main-navigation {
        width: 100%;

        #menu-header {
            @include flex(center, space-between, row, flex-start, center, row);
            width: inherit;

            li {
                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                letter-spacing: 0.03em;
                text-transform: uppercase;

                &.current-menu-item {
                    a {
                        color: $bleuClair;
                    }
                }
            }
        }
    }

}


/**************************
 * Navigation Mobile
 **************************/
#site-navigation-mobile {
    align-items: flex-start;
    background-color: $bleuClair;
    display: none;
    height: 100vh;
    justify-content: flex-start;
    position: fixed;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: transform 0.725s ease-in-out;
    width: 75%;
    z-index: 9;

    @include respond(tablet) {
        display: flex;
    }

    &.is-active {
        transform: translateX(0);
    }

    .menu-header-container {
        width: 100%;
    }

    #menu-header-1 {
        margin: 23px;
        width: 100%;

        li {
            margin-bottom: 26px;

            a {
                color: $color3;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    }
}

